type: task
name: baseline-testing

python: "3.11"

volumes:
  - /scratch/datasets/CVUSA:/scratch/datasets/CVUSA

commands:
  - apt-get update && apt-get install -y libgl1
  - pip install lightning wandb opencv-python albumentations timm tqdm pykitti pypose pytorch-metric-learning
  - |
    mkdir -p /dev/shm && mount --types tmpfs --options size=16g tmpfs /dev/shm
    rm -rf TACO
    git clone https://github.com/tavisshore/TACO.git TACO
    cd TACO
    git checkout get_graph_working
    pip install -e .
    python examples/train_cvgl.py \
      --batch-size 4 \
      --embedding-dim 512 \
      --learning-rate 0.0002 \
      --loss-type ntxent \
      --scheduler-type cosine \
      --max-epochs 40 \
      --model-name convnext \
      --experiment-name auto-batch-multi-gpu-gitclone \
      --output-dir output/auto-batch-multi-gpu-gitclone \
      --devices 4 \
      --strategy ddp

env:
  - WANDB_PROJECT=taco
  - WANDB_API_KEY=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
  - PYTHONUNBUFFERED=1

resources:
  gpu: 4
